In [13]:
import os
import pandas as pd
import glob
import psycopg2 as ps
import sqlalchemy as sa

tripdata = pd.DataFrame()

path = r'C:\Users\mlhsa\Downloads\bike-rental-starter-kit\data'
csv_files = glob.glob(os.path.join(path,'*-citibike-tripdata.csv'))

for filename in csv_files:
    df = pd.read_csv(filename)
    tripdata = pd.concat([tripdata, df], ignore_index=True)
#print(tripdata.info())

#dtypes of Gender,birth_year,start time, stop time are wrong
tripdata.Gender = tripdata.Gender.astype(str)
tripdata['Start Time'] = pd.to_datetime(tripdata['Start Time'])
tripdata['Stop Time'] = pd.to_datetime(tripdata['Stop Time'])
#Populate NaN values with -1 because it will give an error when casting to int.
tripdata['Birth Year'] = tripdata['Birth Year'].fillna(-1)
tripdata['Birth Year'] = tripdata['Birth Year'].astype(int) 

#Gender 0 unknown,1 male, 2 female
tripdata.Gender = tripdata.Gender.replace('0','Unknown')
tripdata.Gender = tripdata.Gender.replace('1','Male')
tripdata.Gender = tripdata.Gender.replace('2','Female')

#find duplicates
duplicates = tripdata.duplicated()
dupli = tripdata[duplicates]
#print(dupli)


#Connecting to our local psql server.
try:
    engine = sa.create_engine('postgresql://melih:melihcan@localhost:5432/postgres')
except Exception as e:
    print('Connection attempt failed ', e)

Query Successful.

In [ ]:
#creating bike_rental table to store tripdata in postgresql.
metadata = sa.MetaData()
bike_rental = sa.Table(
    'bike_rental',
    metadata,
    sa.Column('trip_duration', sa.Integer),
    sa.Column('start_time', sa.TIMESTAMP),
    sa.Column('stop_time', sa.TIMESTAMP),
    sa.Column('start_station_id', sa.Integer),
    sa.Column('start_station_name', sa.String),
    sa.Column('start_station_latitude', sa.Float),
    sa.Column('start_station_longitude', sa.Float),
    sa.Column('end_station_id', sa.Integer),
    sa.Column('end_station_name', sa.String),
    sa.Column('end_station_latitude', sa.Float),
    sa.Column('end_station_longitude', sa.Float),
    sa.Column('bike_id', sa.Integer),
    sa.Column('user_type', sa.String),
    sa.Column('birth_year', sa.Integer),
    sa.Column('gender', sa.String),
)



try:
    metadata.create_all(engine)
    print("Query Successful.")
except Exception as e:
    print(f"An error occurred: {e}")

In [14]:
#Populating bike_rental table with our trip_data Dataframe.
try:
    tripdata.to_sql('bike_rental',engine,if_exists='replace',index=False)
except Exception as e:
    print('An error occurred:', e)

In [24]:
query="SELECT * FROM bike_rental LIMIT 5"

with engine.connect() as c:
    result = c.execute(sa.text(query))
    df = pd.DataFrame(result)

df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964,Female
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962,Male
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962,Female
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984,Male
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,-1,Unknown

Our table is ready and we will be doing some analytics to have a better understanding of our current data.

Our analytics will be briefly as below.

### Exploratory Analysis:

What is the distribution of trip durations?<br>
What is the distribution of user types (Subscriber, Customer)?<br>
What is the distribution of gender?<br>
What is the distribution of birth years?<br>
What are the most common start and end stations?<br>

### Time-Based Analysis:

How does trip volume vary by hour, day of the week, or month?<br>
What are the peak hours for bike rentals?<br>
Are there any seasonal trends in bike rentals?<br>

### Route Analysis:

What are the most common routes (combinations of start and end stations)?<br>
How does the choice of route vary by user type or gender?<br>
### User Behavior:

Do subscribers and customers have different trip durations?<br>
Do subscribers and customers use bikes at different times of the day?<br>
How does user behavior change based on gender or age?<br>

### Exploratory Analysis:
What is the distribution of trip durations?
```sql
SELECT trip_duration
FROM bike_rental;
```
What is the distribution of user types (Subscriber, Customer)?<br>
```sql
SELECT user_type, COUNT(*) AS count
FROM bike_rental
GROUP BY user_type;
```
What is the distribution of gender?<br>
```sql
SELECT gender, COUNT(*) AS count
FROM bike_rental
GROUP BY gender;
```
What is the distribution of birth years and what is the average?<br>
```sql
SELECT 
birth_year, 
COUNT(*) AS user_count,
ROUND(AVG(birth_year) OVER(),2)
FROM bike_rental
WHERE birth_year != -1 --excluding unknown
GROUP BY birth_year
ORDER BY 2 desc;
```

What are the most common start and end stations?<br>
```sql
SELECT start_station_name, COUNT(*) AS start_count
FROM bike_rental
GROUP BY start_station_name
ORDER BY start_count DESC
LIMIT 5;

SELECT end_station_name, COUNT(*) AS end_count
FROM bike_rental
GROUP BY end_station_name
ORDER BY end_count DESC
LIMIT 5;
```

### Time Based Analysis

How does trip volume vary by hour, day of the week, or month? <br>
```sql
SELECT EXTRACT(HOUR FROM start_time) AS hour, COUNT(*) AS count
FROM bike_rental
GROUP BY hour
ORDER BY hour;
```
What are the peak hours for bike rentals? <br>
```sql
SELECT EXTRACT(HOUR FROM start_time) AS hour, COUNT(*) AS count
FROM bike_rental
GROUP BY hour
ORDER BY count DESC
LIMIT 5;
```
Are there any seasonal trends in bike rentals? <br>
```sql
SELECT EXTRACT(MONTH FROM start_time) AS month, COUNT(*) AS count
FROM bike_rental
GROUP BY month
ORDER BY 2 DESC;
```

### Route Analysis

What are the most common routes (combinations of start and end stations)? <br>
```sql
SELECT start_station_name, end_station_name, COUNT(*) AS route_count
FROM bike_rental
GROUP BY start_station_name, end_station_name
ORDER BY route_count DESC;
```
How does the choice of route vary by user type or gender? <br>
```sql
SELECT user_type, start_station_name, end_station_name, COUNT(*) AS route_count
FROM bike_rental
GROUP BY user_type, start_station_name, end_station_name
ORDER BY route_count DESC;

SELECT gender, start_station_name, end_station_name, COUNT(*) AS route_count
FROM bike_rental
GROUP BY gender, start_station_name, end_station_name
ORDER BY route_count DESC;
```

### User Behavior

Do subscribers and customers have different trip durations? <br>
```sql
SELECT user_type, AVG(trip_duration) AS avg_trip_duration
FROM bike_rental
GROUP BY user_type;
```
Do subscribers and customers use bikes at different times of the day? <br>
```sql
SELECT user_type, EXTRACT(HOUR FROM start_time) AS hour, COUNT(*) AS count
FROM bike_rental
GROUP BY user_type, hour
ORDER BY user_type, hour;
```
How does user behavior change based on gender or age? <br>
```sql
SELECT gender, AVG(trip_duration) AS avg_trip_duration
FROM bike_rental
WHERE gender IS NOT NULL
GROUP BY gender;

SELECT EXTRACT(YEAR FROM AGE(NOW(), birth_year || '-01-01')) AS age_group, AVG(trip_duration) AS avg_trip_duration
FROM bike_rental
WHERE birth_year >= 0
GROUP BY age_group
ORDER BY age_group;
```